@import "/node_modules/@simonwep/pickr/dist/pickr.min.css";
@import "./node_modules/tingle.js/dist/tingle.min.css";

p {
  font-family: sans-serif;
  line-height: 180%;
}

a {
  color: inherit;
}

a:visited {
  color: inherit;
}

a:hover {
  color: #4285f4;
}

h6 {
  line-height: 10px;
  margin: 0;
  font-weight: normal;
  font-family: sans-serif;
  text-align: left;
  margin-left: 14px;
  color: white;
  transition: color 1.2s;
}
.pickr button.pcr-button {
  margin: auto;
}

.align-left {
  text-align: left;
  margin-left: 18px;
}

.canvas-container {
  position: relative;
  padding: 1px;
  height: 60px;
  width: 100px;
  transition: background-color 1.2s;
  margin-left: 20px;
  margin-bottom: 3px;
}

#swatch {
  background: #ddf;
  position: absolute;
}

#swatchimg {
  width: 100px;
  height: 60px;
  position: absolute;
}

.button-container {
  position: absolute;
  top: 20px;
  right: 12px;
  width: 50px;
}

.pcr-app input.pcr-type {
  background: transparent;
  /* transition: color 1.2s, border 1.2s, background 1.2s; */
  transition: color 1.2s, border 1.2s, background 1.2s;
  border: 1px solid black;
}

.pcr-app .pcr-interaction input.pcr-type.active {
  transition: color 1.2s, border 1.2s, background 0.2s;
  background: grey;
}

.button {
  outline: none;
  border: none;
  -webkit-appearance: none;
  letter-spacing: .07em;
  font-size: .75em;
  text-align: center;
  cursor: pointer;
  color: #75797e;
  border: 1px solid black;
  background: transparent;
  border-radius: .15em;
  transition: color 1.2s, border 1.2s;
  padding: .45em .5em;
  display: block;
  margin-bottom: 6px;
  display: none;
}

.pcr-app.visible {
  border-radius: 4px;
  background: transparent;
  box-shadow: none;
  margin: auto;
}

.center {
  text-align: center;
}

.swatch-container {
  /* font-size: 12px; */
  display: inline-block;
  text-align: left;
  padding: 15px 20px;
  padding-left: 7px;
  border-radius: 2px;
  margin: auto;
  width: 152px;
  height: 60px;
  position: absolute;
}

.container {
  background: rgba(122, 122, 122, 0.4);
  max-width: 500px;
  border-radius: 6px;
  margin: auto;
  padding-bottom: 10px;
  display: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  border: .5px solid white;
  transition: border 1.2s;
  padding-right: 5px;
}

body {
  background: #2A9663;
  /* transition: background-color .1s; */
  /* box-shadow: inset 0 0 500px 20px #656565; */
  padding: 0;
  margin: 0;
  height: 100vh;
}

h1 {
  margin: 0;
  font-family: 'Londrina Outline', cursive;
  font-size: 80px;
  line-height: 120%;
  font-weight: normal;
  transition: color 1.2s;
  position: relative;
  top: 8px;
  display: inline;
}

.info {
  display: block;
  font-family: normal;
  border: 1px solid white;
  color: white;
  border-radius: 50%;
  background: transparent;
  font-size: 12px;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  padding-left: 8px;
  transition: color 1.2s, border-color 1.2s;
}

@media screen and (max-width: 492px) {
  .container {
    background: transparent;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    transform: translate(0%, 0%);
  }
  .swatch-container {
    position: relative;
  }
  .container {
    max-width: 100%;
  }
  h6 {
    position: absolute;
    bottom: 10px;
  }
  .align-left {
    padding-top: 10vh;
  }
  .pcr-app.visible {
    box-sizing: border-box;
  }
}

@media screen and (max-width: 300px) {
  h1 {
    font-size: 60px;
  }
}

@media screen and (max-width: 230px) {
  h1 {
    font-size: 40px;
  }
}
